%%% The network options.
{ network, #{
  % Allows or disallows local reuse of port numbers.
  % By default, reuse is disallowed.
  reuseaddr => true,
  % Setting {delay_send, true} makes all messages queue up.
  % The messages sent to the network are then larger but fewer.
  delay_send => true,
  % If Boolean == true, option TCP_NODELAY is turned on for the socket,
  % which means that also small amounts of data are sent immediately.
  nodelay => true,
  send_timeout => 8000,
  % This option is set to true by default.
  % The only reason to set it to false is
  % if you want to continue sending data to the socket after a close is detected
  exit_on_close => false
}}.

%%% The log configurations.
{ logger, #{
  %% The log level: notice, debug, info, warn, error, fatal
  level => debug,
  %% The format of log content, refer to logger.hrl
  format => [time, " ", level, " ", filename, ":", line, " ", ": ", msg, "\n"],
  %% The log file
  file => "server.log"
}}.

%%% Mysql database config.
{ mysql, #{
  %% The mysql server host
  host => "127.0.0.1",
  %% The mysql server port
  port => 3306,
  %% The username of mysql server
  username => "root",
  %% The password of mysql server
  password => "123456"
}}.

%%% Mongodb server config.
{ mongodb, #{
  %% TODO
}}.

%%% Redis server config.
{ redis, #{
  %% TODO
}}.