%%% The network config.
{ network, #{
  ip => {0, 0, 0, 0},
  port => 8876,
  options => #{
    mode => binary,
    active => false,
    reuseaddr => true,
    delay_send => true,
    nodelay => true,
    send_timeout => 8000,
    exit_on_close => false
  }
}}.
%%% Environment variables which will be:
%% 1. exported in the sigma.sh before server started;
%% 2. used as the value of `erl -env` option
{ env, #{
  %% ERL_MAX_PORTS of OTP.
  erl_max_ports => 32000,
  %% The max process number can be forked by this server.
  erl_processes => 500000,
  %% The max ETS tables can be created in this server instance.
  erl_max_ets_tables => 1400,
  %% The system ulimit
  ulimit => 65535
}}.

%%% Server node configurations.
{ node, #{
  %% The id of this node.
  id => 1,
  %% The name of this node,
  %% will be used as the value of `erl -name` option
  name => "sigma_server",
  %% The cookie of this node,
  %% will be used as the value of `erl -setcookie` option
  cookie => "sigma_server"
}}.

%%% The log configurations.
{ logger, #{
  %% The log level: notice, debug, info, warn, error, fatal
  level => debug,
  %% The format of log content
  format => [time, " ", file, ":", line, " ", level, ": ", msg, "\n"],
  %% The log file
  file => "server.log"
}}.

%%% Mysql database config.
{ mysql, #{
  %% The mysql server host
  host => "127.0.0.1",
  %% The mysql server port
  port => 3306,
  %% The username of mysql server
  username => "root",
  %% The password of mysql server
  password => "123456"
}}.

%%% Mongodb server config.
{ mongodb, #{
  %% TODO
}}.

%%% Redis server config.
{ redis, #{
  %% TODO
}}.