%% ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
%% @doc 系统启动时的初始化过程的配置  @end
%% ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
%% PART 1: 随系统启动的 supervisor 配置
%% 在 sigma_sup 的 start_link 中会被按照定义的顺序作为 sigma_sup 的 child 启动
%% 格式: child_spec() :
%% #{id := child_id(), start := mfargs(), restart => restart(), shutdown => shutdown(), type => worker(), modules => modules()}
{ supervisors, [
  #{
    id => echo_sup,
    start => {echo_sup, start_link, []},
    restart => permanent,
    shutdown => infinity,
    modules =>[echo_sup]
  }
]}.